.heading {
	text-align: center;
	font-weight: bold;
	font-family: 'Helvetica', sans-serif;
}
p {
	font-family: 'Helvetica', sans-serif;
	margin-top: 10px;
	margin-right: 150px;
    margin-left: 80px;
}
.container {
	display: flex;
	flex-direction: column;
}
.bold{
	font-weight: bold;
}
p.list {
	padding-left: 50px;
}
.italics{
	font-style: italic;
}